<div class="flex h-screen flex-col items-center justify-center">
  <h1 class="text-4xl font-bold text-indigo-400">Vite Template</h1>

  <p class="text-center text-2xl text-gray-400">
    A fully setup vite template, includes typescript support, tailwind
    out-of-the-box. (with prettier support) <br />
    Have components in seprate html files, and more!
  </p>

  <div
    class="bg-darker mt-4 cursor-pointer select-all rounded-lg p-3 font-mono text-pink-500"
  >
    src/components/app.html
  </div>
</div>
